# macOS system files
.DS_Store

# Visual Studio Code editor settings
.vscode/

# Data files
data/data/*.zip

# Executables
/lbxdump
/lbxviewer
/magic
/mapeditor

# Memory and CPU profiles
profile.cpu.*
profile.mem.*

# Output from lbxdump
**/*.lbx_output/
